.env
code/.env
code/.venv/
.env.*
code/.venv
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


__pycache__/
*.py[cod]
*$py.class
.python-version
code/templates-copy
code/templates-copy/
code/static/tailwindcss
.pytest_cache/
.mypy_cache/
.ruff_cache/

k8s/overlays/local/

act-history.json
*.db
*db
file:*




